h2{
    text-align: center;
    font-family: "Monserrat" !important;
    font-weight: bold !important;
}

mat-dialog-content{
    font-family: "Monserrat" !important;
    text-align: justify;

}

button{
    font-family: "Monserrat" !important;
}