.contenedor {
    display: flex;
    flex-direction: column;
    width: 390px;
    margin: 5px 5px;
    background-color: rgb(215, 255, 200);
    border: 1px solid black;
    padding: 10px;
    border-radius: 1rem;
    min-height: 300px; /* O puedes usar 100vh si quieres que tome toda la altura de la pantalla */
}
.monserrat{
  font-family: 'Montserrat';
}
.titulo{
  text-align: center;
  font-family: 'Montserrat';
}
.select{
    width: 350px;
}

.container-field{
    height: 40px;
    display: flex;
    justify-content: space-between; /* uno a la izq, otro a la der */
    align-items: center;            /* opcional: centra verticalmente */
    width: 80%;                    /* asegurate de que tenga un ancho definido */
    margin: 10px auto;
    font-family: 'Montserrat' !important;
}

.container-field-2{
  height: 300px;
  display: flex;
  justify-content: space-between; /* uno a la izq, otro a la der */
  align-items: center;            /* opcional: centra verticalmente */
  width: 80%;                    /* asegurate de que tenga un ancho definido */
  margin: 10px auto;
  font-family: 'Montserrat' !important;
}


.container-field p{
    /* centrado horizontal y vertical */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: center;
}

.container-field select{
    height: 75%;
    width: 70%;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.10);
    padding: 0px;
    text-align: center;
}

.footer {
    margin-top: auto;
}

.container-tyc{
    height: 40px;
    width: 90%;      
    display: flex;
    align-items: center;   
    justify-items: center;
    margin: 10px auto;
    padding: 0px;
}

.tyc{
    display: inline;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat';
}

.tyc-link{
    color:blue;
    text-decoration: underline;
    cursor:pointer;
    font-family: 'Montserrat' !important;
}

.inscribir-button{
    background-color: rgb(92, 175, 84) !important;
    border: 1px solid black;
    font-family: 'Montserrat';
}

.participantes-button{
    background-color: rgb(92, 175, 84) !important;
    border: 1px solid black;
    font-family: 'Montserrat';
}

/* -------- */ 
.custom-checkbox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    cursor: pointer;
  }

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition: all 0.2s ease;
}

/* Checked */
.custom-checkbox input:checked ~ .checkmark {
  background-color: #60a55c;
  border-color: #60a55c;
}

/* Tilde */
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 1px;
  width: 4px;
  height: 9px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.custom-checkbox input:checked ~ .checkmark::after {
  display: block;
}

/* Hover */
.custom-checkbox:hover .checkmark {
  border-color: #60a55c;
}

.hidden-input {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  visibility: hidden;
  position: absolute;
}
